.heading {
    color: blueviolet;
    font-size: 50px;
    padding: 50px;
    padding-left: 140px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body.background-color {
    background-color: aquamarine;
}

a {

}

.pizza-link, .lasagne-link, .fish-link {
    display: inline-block;
}

button {
    box-sizing: border-box;
    height: 50px;
    width: 125px;
    padding: 0px;
    margin: 20px;
    border: 5px dotted rgb(127, 131, 255); 
    background-color: rgb(127, 187, 255);
}